name: Assesment Frontend Automation
on:
   pull_request:
       branches:
       - frontendSetup
   workflow_dispatch:        
jobs:
    build:
        name: automation-engineer-test-fe
        runs-on: ubuntu-latest
        steps:
         - name: Checkout Repository
           uses: actions/checkout@v3
         - name: install dependencies
           run: npm installo66o                   
         - name: Run tests
           run: npx cypress run
         - name: Generate Allure Report
           if: always()
           run: npx allure-commandline generate allure-results --clean --single-file --output ./cypress/report
         - name: Upload Allure Report
           if: always()
           uses: actions/upload-artifact@v4
           with:
             name: allure-reports
             path: ./cypress/report
           